
.icon-ok:before { content: '\e02e'; } /* '' */
.icon-heart-empty:before { content: '\e705'; } /* '' */
.icon-info-circled:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-warning-empty:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-attention:before { content: '\e804'; } /* '' */
.icon-bell:before { content: '\e805'; } /* '' */
.icon-picture-outline:before { content: '\e806'; } /* '' */
.icon-cancel:before { content: '\e807'; } /* '' */
.icon-ticket:before { content: '\e808'; } /* '' */
.icon-back-in-time:before { content: '\e809'; } /* '' */
.icon-gauge:before { content: '\e80a'; } /* '' */
.icon-doc-text:before { content: '\e80b'; } /* '' */
.icon-book-03:before { content: '\e80c'; } /* '' */
.icon-clipboard:before { content: '\e80d'; } /* '' */
.icon-layers:before { content: '\e80e'; } /* '' */
.icon-off:before { content: '\e80f'; } /* '' */
.icon-home-outline:before { content: '\e810'; } /* '' */
.icon-print:before { content: '\e811'; } /* '' */
.icon-attention-alt:before { content: '\e812'; } /* '' */
.icon-user-outline:before { content: '\e813'; } /* '' */
.icon-power:before { content: '\e814'; } /* '' */
.icon-guest-house:before { content: '\e815'; } /* '' */
.icon-hierarchy-square-04:before { content: '\e816'; } /* '' */
.icon-menu-circle:before { content: '\e817'; } /* '' */
.icon-mortarboard-01:before { content: '\e818'; } /* '' */
.icon-sidebar-left-1:before { content: '\e819'; } /* '' */
.icon-sidebar-right-1:before { content: '\e81a'; } /* '' */
.icon-square-arrow-data-transfer-horizontal-sharp:before { content: '\e81b'; } /* '' */
.icon-taxes:before { content: '\e81c'; } /* '' */
.icon-teaching:before { content: '\e81d'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-upload:before { content: '\f02f'; } /* '' */
.icon-chat:before { content: '\f03d'; } /* '' */
.icon-info-circled-alt:before { content: '\f086'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */
.icon-question-circle-o:before { content: '\f29c'; } /* '' */
